<div class="container">
    <div class="row">
        <div class="col-sm-4" >
            <%= image_tag 'NP_insta_1'%>
        </div>
        <div class="col-sm-4" >
            <%= image_tag 'NP_insta_2'%>
        </div>
        <div class="col-sm-4" >
            <%= image_tag 'NP_insta_3'%>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" >
            <%= image_tag 'NP_insta_4'%>
        </div>
        <div class="col-sm-4" >
            <%= image_tag 'NP_insta_5'%>
        </div>
        <div class="col-sm-4" >
            <%= image_tag 'NP_insta_6'%>
        </div>
    </div>
</div>
